body {
      padding-top: 61px;
}

footer {
  position: absolute;
  bottom: 100;
  width: 100%;
}


.bio {
  padding-top: 40px;
  text-align: center;
  width: 40%;
}
.image2 {
  display: none;
}
.thumbnail:hover .image1 {
  display: none;
}
.thumbnail:hover .image2 {
  display: block;
}

.youtube {
  text-align: center;
}

